# Run regular tests without root
Tests: test
Restrictions: allow-stderr
Depends: @builddeps@

# Run only tests that require root
Tests: test-sudo
Restrictions: allow-stderr, needs-root
Depends: @builddeps@
